@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
:root {
  --frist-color: hsl(240, 78%, 98%);
  --frist-color-alt: hsl(234, 14%, 74%);
  --price-color: hsl(232, 13%, 33%);
  --title-color: hsl(233, 13%, 49%);
  --primary-color: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --font-bold: 700;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/* /BASE / */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--first-color);
  color: #000;
  line-height: 1.6;
}

h1,
h2,
h3,
span,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-bold);
  color: var(--title-color);
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  width: 100%;
  background-image: url(/images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: top right -190px;
}

@media screen and (min-width: 768px) {
  .main {
    background-image: url(/images/bg-top.svg), url(/images/bg-bottom.svg);
    background-position: top right, bottom -15px left;
  }
}

.container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.header {
  text-align: center;
  padding-top: var(--mb-6);
}

.header__title {
  margin-bottom: var(--mb-3);
}

.header__data {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: var(--mb-5);
}

.header__data-annually, .header__data-monthly {
  color: var(--frist-color-alt);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle-container label {
  background: var(--primary-color);
  border: 1px solid #fff;
  border-radius: 20px;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 45px;
  height: 25px;
  z-index: 2;
}

.toggle-container label::after {
  content: "";
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 1.5px;
  left: 1px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  width: 20px;
  height: 20px;
  z-index: 3;
}

.toggle-container input {
  visibility: hidden;
  position: absolute;
  z-index: 2;
}

.toggle-container input:checked + label + .active-circle {
  -webkit-transform: translate(-50%, -50%) scale(15);
          transform: translate(-50%, -50%) scale(15);
}

.toggle-container input:checked + label::after {
  -webkit-transform: translateX(calc(100% + 0.5px));
          transform: translateX(calc(100% + 0.5px));
}

.card {
  min-height: 300px;
  text-align: center;
  background-color: var(--frist-color);
  margin-bottom: var(--mb-4);
  border-radius: 15px;
  color: var(--title-color);
  padding: 0 3rem;
  -webkit-box-shadow: -1px -1px 10px #777676;
          box-shadow: -1px -1px 10px #777676;
}

.card__second {
  background: var(--primary-color);
  color: var(--frist-color);
}

.card__title {
  padding-top: var(--mb-3);
  margin-bottom: var(--mb-1);
}

.card__title--second {
  color: var(--frist-color);
}

.price__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__month, .price__year {
  font-size: 4rem;
}

.price__dollar {
  vertical-align: middle;
  margin: 1rem 0 1rem 0;
  font-size: 2rem;
}

.line {
  border-top: 1px solid var(--frist-color-alt);
  padding: 1rem 0;
}

.line--3 {
  border-bottom: 1px solid var(--frist-color-alt);
  margin-bottom: var(--mb-4);
}

.hidden {
  display: none;
}

.button {
  margin-bottom: var(--mb-5);
  padding: 0.7rem 4rem;
  text-transform: uppercase;
  background: var(--primary-color);
  color: var(--frist-color);
  border-radius: 5px;
  border: 0.5px solid transparent;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.button:hover {
  background: transparent;
  color: #696fdd;
  border: 0.5px solid #696fdd;
}

.button-alt {
  background: var(--frist-color);
  color: #696fdd;
}

.button-alt:hover {
  background: transparent;
  color: var(--frist-color);
  border: 0.5px solid var(--frist-color);
}

@media screen and (max-width: 374px) {
  .container {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .button {
    margin: 0 auto 2rem;
    width: 50%;
    text-align: center;
  }
}

@media screen and (min-width: 568px) {
  .section__container {
    display: -ms-grid;
    display: grid;
    gap: 1.5rem;
    -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .section__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: unset;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container {
    max-width: 1440px;
  }
  .card {
    width: 400px;
  }
  .card__second {
    height: 500px;
  }
  .card__title {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .button-alt {
    height: 40px;
  }
}
/*# sourceMappingURL=style.css.map */