@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
    // colors
    --frist-color: hsl(240, 78%, 98%);
    --frist-color-alt: hsl(234, 14%, 74%);
    --price-color: hsl(232, 13%, 33%);
    --title-color: hsl(233, 13%, 49%);
    --primary-color: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));

    //font and typography

    --body-font: "Montserrat", sans-serif;

    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;

    @media screen and (min-width: 968px) {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }

    //font weight

    --font-bold: 700;

    //Margin
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}
/* /BASE / */

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--first-color);
    color: #000;
    line-height: 1.6;
}
h1,
h2,
h3,
span,
p {
    margin: 0;
}
h1,
h2,
h3 {
    font-weight: var(--font-bold);
    color: var(--title-color);
}

img {
    max-width: 100%;
    height: auto;
}

// CSS CLASS
.main {
    width: 100%;
    // height: 100vh;
    background-image: url(/images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: top right -190px;
    @media screen and (min-width: 768px) {
        background-image: url(/images/bg-top.svg), url(/images/bg-bottom.svg);
        background-position: top right, bottom -15px left;
    }
}

// LAYOUT
.container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: auto;
    margin-right: auto;
}
.flex {
    display: flex;
    align-items: center;
}
.grid {
    display: grid;
}
// HEADER
.header {
    text-align: center;
    padding-top: var(--mb-6);
    &__title {
        margin-bottom: var(--mb-3);
    }
    &__data {
        justify-content: center;
        margin-bottom: var(--mb-5);
        &-icon {
            font-size: 4rem;
            color: hsl(237, 63%, 64%);
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }
        &-annually,
        &-monthly {
            color: var(--frist-color-alt);
        }
    }
}
//CARD
.card {
    min-height: 300px;
    text-align: center;
    background-color: var(--frist-color);
    margin-bottom: var(--mb-4);
    border-radius: 15px;
    color: var(--title-color);
    padding: 0 3rem;

    &__second {
        // height: 450px;
        background: var(--primary-color);
        color: var(--frist-color);
    }
    &__title {
        padding-top: var(--mb-3);
        margin-bottom: var(--mb-1);
        &--second {
            color: var(--frist-color);
        }
    }
}
.price {
    &__container {
        justify-content: center;
    }
    &__month {
        font-size: 4rem;
    }
    &__dollar {
        vertical-align: middle;
        margin: 1rem 0 1rem 0;
        font-size: 2rem;
    }
}
.line {
    border-top: 1px solid var(--frist-color-alt);
    padding: 1rem 0;

    &--3 {
        border-bottom: 1px solid var(--frist-color-alt);
        margin-bottom: var(--mb-4);
    }
}
.hidden {
    display: none;
}
.button {
    margin-bottom: var(--mb-5);
    padding: 0.7rem 4rem;
    text-transform: uppercase;
    background: var(--primary-color);
    color: var(--frist-color);
    border-radius: 5px;
    border: none;
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    transition: 0.8s ease-in-out;
    &:hover {
        background: transparent;
        color: hsl(237, 63%, 64%);
        border: 1px solid hsl(237, 63%, 64%);
    }

    &-alt {
        background: var(--frist-color);
        color: hsl(237, 63%, 64%);

        &:hover {
            background: transparent;
            color: var(--frist-color);
            border: 1px solid var(--frist-color);
        }
    }
}
